{% extends "base.html" %} 
{% load static %}

{% block title %} This Post Title {% endblock%} 

{% block css_files %}
<link rel="stylesheet" href="{% static "blog/post-detail.css" %}" />

{% endblock %}

{% block content %}
  <section id="summary">
    <h2>Post Title</h2>
    <article>
        <img src="{% static "blog/images/mountains.jpg" %}" alt="" />
        <address>By Bill</address>
        <div>
            Last updated on <time>December 22</time>
        </div>
    </article>
  </section>
  <main>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut sit iusto, repellat corrupti rerum natus neque perspiciatis veniam in harum quis veritatis similique aliquam illo, suscipit at sint dolor officiis!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque odit recusandae id veritatis. Totam assumenda a beatae porro et, ad, minus quam provident unde in animi ab asperiores corporis facilis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis excepturi delectus iure dolore, facere laboriosam mollitia! Ullam labore ducimus rem laborum neque minus, ratione voluptate! Aperiam cum in odio quidem.</p>
  </main>
{% endblock %}